body {
  background-color: hsl(217, 54%, 11%);
  font-family:'Outfit', sans-serif;
  font-size: 18px;

}

hr {
  border-top: 2px solid hsl(215, 32%, 27%);
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 88%;

}


.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;

  background-color: hsl(216, 50%, 16%);
  height: 550px;
  width: 325px;
  text-align: center;
  border-radius: 10px;

  box-shadow: 5px 20px 10px 1em #0b1626,  -5px 20px 10px 1em #0b1626;
}

.nft-tag {
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
}



.nft-description {
  text-align: left;
  margin-top: 0;
  margin-left: 20px;
  color: hsl(215, 51%, 70%);
  font-weight: 300;
  font-size: 16px;
}

.eth-info {
  margin-top: 5px 0;
  padding-left: 20px;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 5px;
}

.eth-cost {
  color: hsl(178, 100%, 50%);
  font-size: 16px
}

.days-remaining {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
}
.clock {
  padding-left: 95px;
}

.img-container{
  display: flex;
  position: relative;
  align-items: center;
}

.eye {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  opacity: 0;

}

.creation {
  padding-left: 15px;
  color: hsl(215, 51%, 70%);
  font-size: 14px;
  word-spacing: 2px;
  font-weight: 300;
}

.pic-space {
  padding: 10px;
}
.Jules {
  color: hsl(0, 0%, 100%);
}

.avatar {
  height: 25px;
  border-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  border-style: solid;
  border-width: thin

}

.overlay {
  height: auto;
  width: 285px;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: hsl(178, 100%, 50%);
  opacity: 0;
  transition: .5s ease;
  transform: translate(0, -2px);
}

/* active states */

.nft-tag:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.eth-img:hover .eye:hover{
  cursor: pointer;
  opacity: 1;
}

.overlay:hover {
  opacity: .5;
}

.Jules:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}



.eth-container {
  padding: 20px 20px 0px 20px;
  transition: .5s ease;
}

.eth-container:hover > .eth-img:before{
  content: url('images/icon-view.svg');
  position: absolute;
  width: 100%;
  height: calc(100% - 5px);
  background-color: rgb(0 255 247 / 50%);
  border-radius: 10px;
  transition: .5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.eth-img {
  height: auto;
  width: 285px;
  position: relative;
}

.eth-img > img {
  width: 100%;
  border-radius: 10px;
  height: auto;
}